.article__title {
  margin: 40px 0 20px;
  color: white;
}

.article__role {
  color: white;
}

.article__description {
  padding-bottom: 70px;
  width: 55ch;
  min-height: 180px;
}

.article__travel,
.article__subtitle {
  display: none;
}

.article__travel p {
  letter-spacing: 2.36px;
  font-size: 14px;
}

.article__travel p:first-of-type {
  margin-right: 80px;
}

.article__travel span {
  font-family: "Bellefair", serif;
  color: white;
  font-size: 28px;
}